<h1>@<%= @user.username %>'s Profile &amp; Tweets</h1>

<p>Name: <%= @user.name %></p>
<p>Location: <%= @user.location %></p>
<p>Bio: <%= @user.bio %></p>

<p>

	<% if current_user.following.include?(@user.id) %>
		<%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary", id: 'unfollow_btn' %>
	<% else %>
		<%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
	<% end %>

</p>

<div class='row'>
	<% @user.tweets.each do |f| %>
	  <div class='col-md-12'>
	  	<div class='well'>
	  		<p><%= f.message %></p>
	  		<p><%= f.created_at %></p>
	  		<p><strong><em><%= f.user.username %></em></strong></p>
	  	</div>
	  </div>
	<% end %>
</div>


// <script>
// $(document).ready(function(){
// 	$("@unfollow-btn").hover(function(){
// 		$(this).removeClass("btn-primary");
// 		$(this).addClass("btn-danger");
// 		$(this).html("Unfollow");
// 	}, function(){
// 		$(this).html("Following");
// 		$(this).removeClass("btn-danger");
// 		$(this).addClass("btn-primary");
// 	});
// })
// </script>